# PostCSS Hsb Adjust [![Build Status][ci-img]][ci]

[PostCSS] plugin n to adjust colours by either hue, saturation or brightness.

[PostCSS]: https://github.com/postcss/postcss
[ci-img]:  https://travis-ci.org/tommillard/postcss-hsb-adjust.svg
[ci]:      https://travis-ci.org/tommillard/postcss-hsb-adjust

```css
.foo {
    /* Input example */
}
```

```css
.foo {
  /* Output example */
}
```

## Usage

```js
postcss([ require('postcss-hsb-adjust') ])
```

See [PostCSS] docs for examples for your environment.
